.wrapper {
  display: block;
  width: 90%;
  text-align: center;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem 0 1.2rem !important;
}

.container {
  display: block;
  width: 16rem;
  text-align: left;
}
