@import '../../sass/abstracts/variables';

.Login {
}

.container {
  width: 90%;
  // text-align: center;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 40rem;
  height: 100%;
}

.form {
  width: 90%;
  margin-top: 4rem !important;
  margin: 4rem auto !important;
}

.form-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-input {
  width: 100%;
  // margin-bottom: 1.6rem;
  border: 0;
  border-bottom: 1px solid $color-grey-dark;
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.button {
  // margin: 1.6rem 0;
}
